.form {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.form form {
  height: 100%;
  padding: 10px 20px;
  width: 100%;
  /* background-color: black; */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.form form h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 10px;
}

.form form input {
  margin: 20px 0;
  width: 100%;
  padding: 8px 12px;
  font-size: 1.1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}

.form__actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form__actions button {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1.1rem;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.form__submit {
  background-color: #008cff;
  color: white;
  margin-right: 10px;
}

.form__clear {
  background-color: #ff3300;
  color: white;
  margin-left: 10px;
}

@media screen and (max-width: 700px) {
  .form {
    padding: 0;
  }
  .form form {
    padding: 10px 10px;
  }
  .form form input {
    margin-left: 0;
    margin-right: 0;
  }
}
